{% extends 'base.html' %}
{% load static%}

{% block content %}
  <div class="site-wrap">
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">남성의류</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/shop/01.jpg' %}" alt="Product Image" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h2 class="text-black">타미힐피거</h2>
            <h3 class="text-black">남녀공용 F/W 크루넥 맨투맨</h3>
            <p>상품 기본 정보1</p>
            <p class="mb-4">상품 기본 정보2</p>
            <p><strong class="text-primary h4">44,090 ₩</strong></p>
            <p><a href="https://www.lotteon.com/p/product/LO1306574555?sitmNo=LO1306574555_1306574558&mall_no=1&dp_infw_cd=CASEC10300008" class="buy-now btn btn-sm btn-primary">구매하기</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}