{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-9 order-2">

          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4"><h2 class="text-black h5">남성의류</h2></div>
              <div class="d-flex">
                <div class="dropdown mr-1 ml-md-auto">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Latest
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item" href="#">상의</a>
                    <a class="dropdown-item" href="#">하의</a>
                    <a class="dropdown-item" href="#">기타/악세사리</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">롯데ON 랭킹순</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" href="#">롯데On 랭킹순</a>
                    <a class="dropdown-item" href="#">최신순</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">낮은 가격순</a>
                    <a class="dropdown-item" href="#">높은 가격순</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5">

            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/01.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">타미힐피거</a></h3>
                  <p class="mb-0"><br>남녀공용 F/W 크루넥 맨투맨<br></p>
                  <p class="text-primary font-weight-bold">44,090</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/02.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">라코스테</a></h3>
                  <p class="mb-0"><br>안감 기모 맨투맨 SH7613<br></p>
                  <p class="text-primary font-weight-bold">69,260</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/03.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">지오다노</a></h3>
                  <p class="mb-0">243801 코튼 져지 크루넥 3pcs 패키지</p>
                  <p class="text-primary font-weight-bold">14,850</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/04.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">타미힐피거</a></h3>
                  <p class="mb-0">타미힐피거 레터링 로고 맨투맨 (UO)</p>
                  <p class="text-primary font-weight-bold">37,350</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/05.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">헤지스</a></h3>
                  <p class="mb-0">WHTS9D021BK 블랙 컬러블록 면혼방 긴팔티셔츠</p>
                  <p class="text-primary font-weight-bold">74,930</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/06.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">헤지스</a></h3>
                  <p class="mb-0">HZTS9D432N2 네이비 라인배색 면 긴팔카라티셔츠</p>
                  <p class="text-primary font-weight-bold">68,840</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/07.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">헤지스</a></h3>
                  <p class="mb-0">WHTS9C001N2 네이비 멜란지 면혼방 긴팔폴로티셔츠</p>
                  <p class="text-primary font-weight-bold">64,220</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/08.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">라코스테</a></h3>
                  <p class="mb-0"><br>빅 크록 로고 후드티 SH6342<br></p>
                  <p class="text-primary font-weight-bold">91,500</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/09.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">TS 테리</a></h3>
                  <p class="mb-0">쮸리 후드집업<br><br></p>
                  <p class="text-primary font-weight-bold">19,570</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/10.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">페르지노몬티</a></h3>
                  <p class="mb-0">페르지노몬티 노멀핏 포켓 옥스포드 차이나 셔츠</p>
                  <p class="text-primary font-weight-bold">17,820</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/11.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">페르지노몬티</a></h3>
                  <p class="mb-0">오버핏 골지 소매시보리 스판 긴팔티 FMST3051AF</p>
                  <p class="text-primary font-weight-bold">12,420</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/12.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">UN</a></h3>
                  <p class="mb-0"><br>UN 프레시 지퍼 긴팔 카라티<br></p>
                  <p class="text-primary font-weight-bold">16,290</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/13.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">바쏘옴므</a></h3>
                  <p class="mb-0">베이직 라운드 티셔츠 5종 택1</p>
                  <p class="text-primary font-weight-bold">30,420</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/14.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">바쏘옴므</a></h3>
                  <p class="mb-0">20FW 라운드 스웨터 5종 택1</p>
                  <p class="text-primary font-weight-bold">53,820</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="shop-single.html"><img src="{%static 'images/shop/15.jpg'%}" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a href="shop-single.html">바쏘옴므</a></h3>
                  <p class="mb-0">20FW 터틀넥 스웨터 5종 택1</p>
                  <p class="text-primary font-weight-bold">53,820</p>
                </div>
              </div>
            </div>




          </div>
          <div class="row" data-aos="fade-up">
            <div class="col-md-12 text-center">
              <div class="site-block-27">
                <ul>
                  <li><a href="#">&lt;</a></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">카테고리</h3>
                <label for="s_sm" class="d-flex">
                  <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">상의</span>
                </label>
                <label for="s_md" class="d-flex">
                  <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">하의</span>
                </label>
                <label for="s_lg" class="d-flex">
                  <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">정장</span>
                </label>
                <label for="s_lg" class="d-flex">
                    <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">아우터</span>
                  </label>
              </div>

              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">매장</h3>
                <label for="s_sm" class="d-flex">
                  <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">롯데백화점</span>
                </label>
                <label for="s_md" class="d-flex">
                  <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">롯데마트</span>
                </label>
                <label for="s_lg" class="d-flex">
                  <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">롭스</span>
                </label>
                <label for="s_lg" class="d-flex">
                    <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">하이마트</span>
                  </label>
                  <label for="s_lg" class="d-flex">
                    <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">롯데홈쇼핑</span>
                  </label>
              </div>

              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">배송</h3>
                <label for="s_sm" class="d-flex">
                  <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">무료배송</span>
                </label>
                <label for="s_md" class="d-flex">
                  <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">스마트퀵</span>
                </label>
                <label for="s_lg" class="d-flex">
                  <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">바로배송</span>
                </label>
                <label for="s_lg" class="d-flex">
                    <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">매장배송</span>
                  </label>
                  <label for="s_lg" class="d-flex">
                    <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">해외직구</span>
                  </label>
                  <label for="s_lg" class="d-flex">
                    <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">새벽배송</span>
                  </label>
                  <label for="s_lg" class="d-flex">
                    <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">오늘발송</span>
                  </label>
              </div>

              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">혜택</h3>
                <label for="s_sm" class="d-flex">
                  <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">롯데오너스 추가할인</span>
                </label>
                <label for="s_md" class="d-flex">
                  <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">사은품</span>
                </label>
                <label for="s_md" class="d-flex">
                    <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">L.POINT 추가적립</span>
                </label>
              </div>


              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">가격</h3>
                <div id="slider-range" class="border-primary"></div>
                <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
              </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="site-section site-blocks-2">
              <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7 site-section-heading pt-4">
                  <h2>Categories</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                  <a class="block-2-item" href="#">
                    <figure class="image">
                      <img src="images/women.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                      <span class="text-uppercase">Collections</span>
                      <h3>Women</h3>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                  <a class="block-2-item" href="#">
                    <figure class="image">
                      <img src="images/children.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                      <span class="text-uppercase">Collections</span>
                      <h3>Children</h3>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                  <a class="block-2-item" href="#">
                    <figure class="image">
                      <img src="images/men.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                      <span class="text-uppercase">Collections</span>
                      <h3>Men</h3>
                    </div>
                  </a>
                </div>
              </div>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}