{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="row">
            <img src="{% static 'images/banner.png' %}" alt="롯데 봐 배너이미지" class="img-fluid rounded" style="text-align:center;">
          </div>
          <br>
          <div class="row mb-5">
            {% for product in pagenums %}
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a href="{{ product.p_detail_url }}"><img src="{{ product.p_thumb_url }}" alt="Product Image" class="img-fluid"></a>
                </figure>

                <div class="block-4-text p-4">
                  <h3>{{ product.p_brand }}<br></h3>
                  <a href="{{ product.p_detail_url }}"><br>{{ product.p_name }}</a>
                  <p class="text-primary font-weight-bold">{{ product.p_price }}</p>
                </div>
                
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- 페이지네이션 -->
          <div class="row" data-aos="fade-up">
            <div class="col-md-12 text-center">
              <div class="site-block-27">
                <ul>
                {% if pagenums.number == 1 %}
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                  <li><a href="?page={{ pagenums.number|add:+1 }}">{{ pagenums.number|add:+1 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+2 }}">{{ pagenums.number|add:+2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+3 }}">{{ pagenums.number|add:+3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+4 }}">&gt;</a></li>
                {% endif %}
                {% if pagenums.number == 2 %}
                  <li><a href="?page={{ pagenums.number|add:-1 }}">{{ pagenums.number|add:-1 }}</a></li>
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                  <li><a href="?page={{ pagenums.number|add:+1 }}">{{ pagenums.number|add:+1 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+2 }}">{{ pagenums.number|add:+2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+3 }}">{{ pagenums.number|add:+3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+4 }}">&gt;</a></li>
                {% endif %}
                {% if pagenums.number == 3 %}
                  <li><a href="?page={{ pagenums.number|add:-2 }}">{{ pagenums.number|add:-2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-1 }}">{{ pagenums.number|add:-1 }}</a></li>
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                  <li><a href="?page={{ pagenums.number|add:+1 }}">{{ pagenums.number|add:+1 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+2 }}">{{ pagenums.number|add:+2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+3 }}">{{ pagenums.number|add:+3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+4 }}">&gt;</a></li>
                {% endif %}
                {% if pagenums.number == 4 %}
                  <li><a href="?page={{ pagenums.number|add:-3 }}">{{ pagenums.number|add:-3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-2 }}">{{ pagenums.number|add:-2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-1 }}">{{ pagenums.number|add:-1 }}</a></li>
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                  <li><a href="?page={{ pagenums.number|add:+1 }}">{{ pagenums.number|add:+1 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+2 }}">{{ pagenums.number|add:+2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+3 }}">{{ pagenums.number|add:+3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+4 }}">&gt;</a></li>
                {% endif %}
                {% if pagenums.number == 5 %}
                  <li><a href="?page={{ pagenums.number|add:-4 }}">&lt;</a></li>
                  <li><a href="?page={{ pagenums.number|add:-3 }}">{{ pagenums.number|add:-3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-2 }}">{{ pagenums.number|add:-2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-1 }}">{{ pagenums.number|add:-1 }}</a></li>
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                  <li><a href="?page={{ pagenums.number|add:+1 }}">{{ pagenums.number|add:+1 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+2 }}">{{ pagenums.number|add:+2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+3 }}">{{ pagenums.number|add:+3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+4 }}">&gt;</a></li>
                {% endif %}
                {% if pagenums.number == 6 %}
                  <li><a href="?page={{ pagenums.number|add:-4 }}">&lt;</a></li>
                  <li><a href="?page={{ pagenums.number|add:-3 }}">{{ pagenums.number|add:-3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-2 }}">{{ pagenums.number|add:-2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-1 }}">{{ pagenums.number|add:-1 }}</a></li>
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                  <li><a href="?page={{ pagenums.number|add:+1 }}">{{ pagenums.number|add:+1 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+2 }}">{{ pagenums.number|add:+2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+3 }}">{{ pagenums.number|add:+3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+4 }}">&gt;</a></li>
                {% endif %}
                {% if pagenums.number == 7 %}
                  <li><a href="?page={{ pagenums.number|add:-4 }}">&lt;</a></li>
                  <li><a href="?page={{ pagenums.number|add:-3 }}">{{ pagenums.number|add:-3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-2 }}">{{ pagenums.number|add:-2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-1 }}">{{ pagenums.number|add:-1 }}</a></li>
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                  <li><a href="?page={{ pagenums.number|add:+1 }}">{{ pagenums.number|add:+1 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+2 }}">{{ pagenums.number|add:+2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+3 }}">{{ pagenums.number|add:+3 }}</a></li>
                {% endif %}
                {% if pagenums.number == 8 %}
                  <li><a href="?page={{ pagenums.number|add:-4 }}">&lt;</a></li>
                  <li><a href="?page={{ pagenums.number|add:-3 }}">{{ pagenums.number|add:-3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-2 }}">{{ pagenums.number|add:-2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-1 }}">{{ pagenums.number|add:-1 }}</a></li>
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                  <li><a href="?page={{ pagenums.number|add:+1 }}">{{ pagenums.number|add:+1 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:+2 }}">{{ pagenums.number|add:+2 }}</a></li>
                {% endif %}
                {% if pagenums.number == 9 %}
                  <li><a href="?page={{ pagenums.number|add:-4 }}">&lt;</a></li>
                  <li><a href="?page={{ pagenums.number|add:-3 }}">{{ pagenums.number|add:-3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-2 }}">{{ pagenums.number|add:-2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-1 }}">{{ pagenums.number|add:-1 }}</a></li>
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                  <li><a href="?page={{ pagenums.number|add:+1 }}">{{ pagenums.number|add:+1 }}</a></li>
                {% endif %}
                {% if pagenums.number == 10 %}
                  <li><a href="?page={{ pagenums.number|add:-4 }}">&lt;</a></li>
                  <li><a href="?page={{ pagenums.number|add:-3 }}">{{ pagenums.number|add:-3 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-2 }}">{{ pagenums.number|add:-2 }}</a></li>
                  <li><a href="?page={{ pagenums.number|add:-1 }}">{{ pagenums.number|add:-1 }}</a></li>
                  <li class="active"><span>{{ pagenums.number }}</span></li>
                {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>      
    </div>
  </div>
{% endblock %}