{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="site-section border-bottom" data-aos="fade">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-5">
              <div class="block-16">
                <figure>
                  <img src="{% static 'images/aboutimg.png' %}" alt="롯데를 들어봐! 썸네일" class="img-fluid rounded">
                </figure>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="site-section-heading pt-3 mb-4">
                <h2 class="text-black" style="font-family: 'LotteMartHappy', sans-serif;">롯데를 들어봐!</h2>
              </div>
              <h4 class="text-black" style="font-family: 'LotteMartHappy', sans-serif;">온라인 몰에서 한없이 작아지는 시각장애인</h2>
              <p style="font-family: 'LotteMartDream', sans-serif;">
                클릭 한 번이면 원하는 상품을 집 앞에서 받아볼 수 있는 온라인 쇼핑시대이지만 아직 시각장애인에게는 다른 세상 이야기입니다.
                시각장애인은 화면의 정보를 음성으로 안내해주는 '스크린 리더(화면 낭독기)' 프로그램의 도움을 받아 인터넷을 이용합니다.
                그 중 이미지 콘텐츠를 이해하기 위해서는 이를 말로 풀어 설명하는 '대체 텍스트'가 필요하지만
                국내 온라인 쇼핑몰은 상품 설명을 이미지 형태로 제시하면서도 대체 텍스트를 삽입하지 않아 시각장애인 고객의 불편을 초래하고 있습니다.
              </p>
              <h4 class="text-black" style="font-family: 'LotteMartHappy', sans-serif;">시각장애인을 위한 롯데 대체 텍스트 쇼핑몰</h2>
              <p style="font-family: 'LotteMartDream', sans-serif;">
                시각장애인이 온라인 쇼핑몰을 이용할 때 발생하는 정보격차가 해소되길 바라는 마음으로 저희는 롯데 대체 텍스트 쇼핑몰 롯데VA를 개발하였습니다.
                롯데ON의 특정 상품을 불러와 해당 상세 이미지를 텍스트화하여 스크린 리더가 상품 설명을 원활히 읽을 수 있도록 했습니다.
              </p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}