{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'index' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">About</strong>
          </div>
        </div>
      </div>
    </div>  
  
      <div class="site-section border-bottom" data-aos="fade">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6">
              <div class="block-16">
                <figure>
                  <img src="{% static 'images/lotteva.png' %}" alt="임시 이미지" class="img-fluid rounded">
                </figure>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="site-section-heading pt-3 mb-4">
                <h2 class="text-black" style="font-family: 'LotteMartHappy', sans-serif;">롯데를 들어봐!</h2>
              </div>
              <p style="font-family: 'LotteMartDream', sans-serif;">사이트 소개글1</p>
              <p style="font-family: 'LotteMartDream', sans-serif;">사이트 소개글2</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}